/* body {
    font-family: 'Montserrat', sans-serif;
}
.main {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px;
    margin: 0 auto;
}

.correct-one {
    padding: 0px;
}

.main-content {
    width: 105px, 90;
} */